*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
#container{
    position: relative;
    width: 160px;
    height: 600px;
    overflow: hidden;
    cursor: pointer;
    margin: auto;

}
#border{
    width: 160px;
    height: 600px;
    border: 1px solid #000;
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
}
#textbg{
    position: absolute;
    top: 37px;
    right: 0;
    width: 154px;
    height: auto;
    transform: rotateY(90deg);
    transform-origin: right;
}
#photo{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 154px;
    height: auto;
    transform: rotateY(-90deg);
    transform-origin: left;
}
#logo{
    position: absolute;
    top: 15px;
    right: 13px;
    width: 83px;
    height: 26px;
    transform: scale(0);
}
#circle{
    position: absolute;
    bottom: 202px;
    right: 15px;
    width: 90px;
    height: 90px;
    opacity: 0;
}
#button{
    position: absolute;
    bottom: 54px;
    right: 14px;
    width: 108px;
    height: 36px;
    transform: scale(0);
}
#text-1{
    position: absolute;
    top: 105px;
    right: 12px;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
    font-family: fantasy;
    transform-origin: top;
    transform: rotateX(-90deg);
}
#text-2{
    position: absolute;
    top: 135px;
    right: 13px;
    color: #f2672e;
    font-size: 18px;
    font-family: fantasy;
    font-weight: 200;
    letter-spacing: 0.5px;
    letter-spacing: 0.3px;
    opacity: 0;
    transform: translateX(-60px);
}
#text-3{
    position: absolute;
    top: 159px;
    letter-spacing: 0.1px;
    right: 13px;
    font-size: 19px;
    font-family: fantasy;
    font-weight: 200;
    color: #fff;
    opacity: 0;
    transform: translateX(100px);
}
#text-4{
    position: absolute;
    top: 212px;
    right: 15px;
    font-size: 15px;
    font-family: system-ui;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #fff;
    line-height: 19px;
    opacity: 0;
    transform: translateY(-30px);
}
#text4-1{
    padding-left: 13px;
}
#text4-2{
    padding-left: 68px;
}

