*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-weight: 600px;
    padding: 0;
    margin: 0;
    font-family: 'Girassol', cursive;
}
#container{
    position: relative;
    width: 728px;
    height: 90px;
    overflow: hidden;
    cursor: pointer;
    margin: 0 auto;
}
#border{
    width: 728px;
    height: 90px;
    border: 1px solid #000;
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}

#photo{
    position: absolute;
    bottom: 0;
    right: 0;
    width: auto;
    height: 84px;
    transform: rotateX(-90deg);
    transform-origin: bottom
}

#textbg{
    position: absolute;
    top: 0;
    left: 113px;
    width: auto;
    height: 84px;
    transform: rotateX(90deg);
    transform-origin: top
}

#logo{
    position: absolute;
    top: 36px;
    left: 22px;
    width: 71px;
    height: auto;
    transform: scale(0);

}

#circle{
    position: absolute;
    top: 0;
    left: 414px;
    width: 90px;
    height: auto;
    opacity: 0;
}

#bottom{
    position: absolute;
    top: 27px;
    right: 0;
    width: 105px;
    height: auto;
    transform: scale(0);
}

#text-1{
    position: absolute;
    top: 6px;
    left: 150px;
    font-size: 23px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    transform: rotateX(90deg);
    transform-origin: top;
}

#text-2{
    position: absolute;
    top: 34px;
    left: 148px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #f2672e;
    opacity: 0;
    transform: translateX(-60px);
}

#text-3{
    position: absolute;
    top: 55px;
    left: 148px;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    opacity: 0;
    transform: translateX(100px);
}
#text-4{
    position: absolute;
    top: 15px;
    left: 282px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    color: #fff;
    font-family: 'Trirong', serif;
    line-height: 17px;
    opacity: 0;
    transform: translateY(-45px);
}