* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
#container {
  position: relative;
  width: 300px;
  height: 250px;
  overflow: hidden;
  cursor: pointer;
  margin: auto;

}


#bgc {

    background-color: #006666;
    position: absolute;
    width: 300px;
    height: 250px;
    opacity: 0;
}


#border {
  width: 300px;
  top: 0;
  height: 250px;
  border: 1px solid #000;
  opacity: 0.3;
  z-index: 999;
  pointer-events: none;
  position: absolute;
}

#logo {
  position: absolute;
  height: 42px;
  top: 18px;
  left: 31px;
  transform: translateY(-100px);
}

#text-1 {
  position: absolute;
  top: 81px;
  left: 13px;
  font-size: 17px;
  letter-spacing: 0.6px;
  font-family: sans-serif;
  color: #fff;
  transform: translate(-80px);
}

#text-2 {
    position: absolute;
    font-family: sans-serif;
    top: 112px;
    left: 16px;
    font-size: 22px;
    color: #d6a70d;
    letter-spacing: 0.6px;
    transform: translate(-150px);
}

#text-3 {
    position: absolute;
    font-family: sans-serif;
    top: 134px;
    left: 16px;
    font-size: 22px;
    color: #d6a70d;
    letter-spacing: -0.6px;
    transform: translate(-150px);
}

#text-4 {
    position: absolute;
    top: 163px;
    left: 15px;
    font-size: 16px;
    letter-spacing: 0.3px;
    opacity: 0;
    color: #fff;
}

#line {
  position: absolute;
  top: 105px;
  left: 13px;
  width: 0;
  height: 3px;
  background-color: #d6a70d;
  transform-origin: left;
}


#shape1{
    
    position: absolute;
    top: 0;
    right: 0;
    width: 224px;
    height: 202px;
    transform: translate(223px, -202px);

}

#kc{
    position: absolute;
    width: 220px;
    height: 190px;
    top: 0;
    right: 0;
    opacity: 0;
    translate: (200px,-200px);

}


#lr{
    position: absolute;
    width: 220px;
    height: 190px;
    top: 0;
    right: 0;
    opacity: 0;
    translate: (200px,-200px);
}


#br{
    position: absolute;
    width: 220px;
    height: 190px;
    top: 0;
    right: 0;
    opacity: 0;
    translate: (220px, -190px);
    
}
    
    
#shape2{
    position: absolute;
    width: 130px;
    height: 70px;
    top: 121px;
    right: 0; 
    opacity: 0.7;
    transform: translate(220px, -190px);
}

#bgtext1{
    position: absolute;
    color: black;
    left: 209px;
    font-size: 15px;
    letter-spacing: 1.0px;
    top: 147px;
    opacity: 0;
    transform: rotate(-22deg);
}





#bgtext2{
    position: absolute;
    color: black;
    left: 201px;
    font-size: 15px;
    letter-spacing: 0.8;
    top: 146px;
    transform: rotate(-22deg);
    opacity: 0;
}




#bgtext3{
    position: absolute;
    color: black;
    left: 209px;
    font-size: 15px;
    letter-spacing: 1.0px;
    top: 147px;
    opacity: 0;
    transform: rotate(-22deg);
}

#url{
    position: absolute;
    color: white;
    top: 222px;
    right: 24px;
    letter-spacing: -0.2px;
    transform: translateX(160px);
}

#cta
{
  position: absolute;
  top: 220px;
  left: 16px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 17px;
  background-color: #d6a70d;
  color: black;
  transform: translateX(-113px);
 
}




